
header h1{ 
    text-align: center; 
}

nav ul{ 
    list-style: none; 
    padding: 20px; 
    margin: 30px;
    font-size: 20px; 
    font-weight: bold; 
    overflow: hidden; 
    background-color: black; 
}

nav li{  
    float: left; 
}

nav li a{ 
    color: white; 
    text-decoration: none;
    text-align: center; 
    padding: 10px; 
}

nav li a:hover{ 
    background-color: lightgrey; 
    color: black; 
}

.content{
    margin: 0 auto; 
    width: 720px; 
}

#blog-post{ 
    background-color: lightgray; 
    padding: 25px 50px; 
    margin: 10px; 
}

footer{ 
    text-align: center; 
    margin: 10px; 
}